
@media only screen and (min-width: 600px) { /* oder rem/em */

}

.hero-image img {
  width: 100%;
  margin: 0 auto;
}

/* Add a black background color to the navigation */
.main-navigation {
  background-color: #794a64;
  overflow: hidden;
  height: flex;
  width: auto;
  font-family: 'Amatic SC', cursive;
}

/* Style the links inside the navigation bar */
.main-navigation a {
  display: flex;
  justify-content: space-between;
  float: auto;
  color: #f2f2f2;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: none;
  font-size: 1.7rem;
}

/* Change the color of links on hover */
.main-navigation a:hover {
  background-color: white;
  color: #794a64;
}

/* Add a color to the active/current link */
.main-navigation a.active {
  background-color: white;
  color: #794a64;
}

.main-navigation a.selected {
  background-color: white;
}

/* variable navigation bar */
@media screen and (max-width: 400px) {
  .main-navigation a {
    text-align: center;
    float: center;
  }
}

@media screen and (max-width: 400px) {
  .main-navigation a {
    width: 100%;
    height: auto;
    position: sticky;
  }
  .main-navigation a {
    float: center;
  }
  div.content {
    margin: auto;
  }
}



img {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

video {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01em;
  hyphens: auto;
  font-size: 14px;
}

@media only screen and (min-width: 600px) { /* oder rem/em */
  html {
    font-size: 16px;
  }
}

h1 {
  margin-top: 4rem;
  font-size: 3rem;
  line-height: 1.2em;
  font-family: 'Amatic SC', cursive;
  color: #25262a;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  color: #794a64;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #25262a;
}

p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

body {
  background-color: white;
}

/* Hintergrundfarbe zum Unterteilen der Rubriken
.style {
  background-color: #f2f2f2;
  padding-left: 100%;
  padding-right: 100%;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  margin-left: -100%;
  margin-right: -100%;
  height: auto;
}
*/

/* Interaktiver Bildslide */
.carousel {
    position: relative;
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 33px;
    position: absolute;
    top: 47%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: #794a64;
    color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
    margin: -1.5rem;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #794a64;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}



/* Automatischer Bildslide */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}




/* Hervorgehobene Textstellen, gross, zentriert */
.outstanding {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3rem;
  text-align: center;
  margin: 3rem;
  color: #794a64;
}

/* fett */
.strong {
  color: #25262a;
}

.content {
  max-width: 32rem;
  min-width: 10rem;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.Liste {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  list-style-type: square;
  list-style-position: outside;
  list-style-image: none;
}

.ListeNR {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.navigation {
  width: 60%;
  max-width: 32rem;
  margin: 0 auto;
}

/* Links extern*/
.button {
  background-color: #794a64; /* violett */
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.button a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.button a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.button a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.button a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/* Video*/
.button.play {
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #202020;
}

/* Grundgerüst*/
.grid {
  width: 32rem;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spalte {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 5.58333333%;
  max-width: 5.58333333%;
}

/* Footer */
.footer {
background-color: #25262a;
margin-top: 5rem;
}

.footer-content {
  color: white;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 80%;
  max-width: 32rem;
}

.footer-content p {
  margin-bottom: 0;
  text-align: center;
}
