
@media only screen and (min-width: 600px) { /* oder rem/em */

}

.hero-image img {
  width: 100%;
}

/* Add a black background color to the navigation */
.main-navigation {
  background-color: #794a64;
  overflow: hidden;
  height: flex;
  width: auto;
  font-family: 'Amatic SC', cursive;
}

/* Style the links inside the navigation bar */
.main-navigation a {
  display: flex;
  justify-content: space-between;
  float: auto;
  color: #f2f2f2;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: none;
  font-size: 1.7rem;
}

/* Change the color of links on hover */
.main-navigation a:hover {
  background-color: white;
  color: #794a64;
}

/* Add a color to the active/current link */
.main-navigation a.active {
  background-color: white;
  color: #794a64;
}

/* variable navigation bar */
@media screen and (max-width: 400px) {
  .main-navigation a {
    text-align: center;
    float: center;
  }
}

@media screen and (max-width: 400px) {
  .main-navigation a {
    width: 100%;
    height: auto;
    position: sticky;
  }
  .main-navigation a {
    float: center;
  }
  div.content {
    margin: auto;
  }
}

img {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* Automatischer Bildslide */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}



html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01em;
  hyphens: auto;
  font-size: 14px;
}

@media only screen and (min-width: 600px) { /* oder rem/em */
  html {
    font-size: 16px;
  }
}

h1 {
  margin-top: 4rem;
  font-size: 3rem;
  line-height: 1.2em;
  font-family: 'Amatic SC', cursive;
  color: #25262a;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  color: #794a64;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #25262a;
}

p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

/* Hervorgehobene Textstellen, gross, zentriert */
.outstanding {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3rem;
  text-align: center;
  margin: 3rem;
  color: #794a64;
}

/* fett */
.strong {
  color: #25262a;
}

.content {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.Liste {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  list-style-type: square;
  list-style-position: outside;
  list-style-image: none;
}

.ListeNR {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.navigation {
  width: 60%;
  max-width: 32rem;
  margin: 0 auto;
}




/* Grundgerüst*/
.grid {
  width: 32rem;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.spalte {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 5.58333333%;
  max-width: 5.58333333%;
  margin-left: 3rem;
  margin-right: 3rem;
}

/* Footer */
.footer {
background-color: #25262a;
margin-top: 5rem;

}

.footer-content {
  color: white;
  margin: 0 auto;
  padding: 3rem;
  width: 80%;
  max-width: 32rem;
}
.footer-content p {
  margin-bottom: 0;
  text-align: center;
}
